<!DOCTYPE html>
<html>
  <head>
    <title>QuizMax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <!-- loaded -->
  </head>

  <body>
  <!-- Navigation-->
  <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
  <%= render partial: "/layouts/navigation_menu" %>

    <%= yield %>
    <%= javascript_pack_tag 'application'  %>
  </body>
</html>
